@tailwind base;
@tailwind components;
@tailwind utilities;

*{

  font-family: Outfit;
  scroll-behavior: smooth;
}

#home,#skills,#projects,#education,#contact,#experience{
  scroll-margin-top: 100px;
}


input:focus, textarea:focus {
  outline: none;
}
